html
{
    box-sizing: border-box;

}
ul
{
  padding: 0;
}
p {
  margin: 0;
}
::after
{
    box-sizing: inherit;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
}
@font-face {
  font-family: "Muller";
  src: url('../Fonts/MullerMedium.woff') format("woff"),
  url('../Fonts/MullerMedium.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url('../Fonts/MullerBold.woff') format("woff"),
  url('../Fonts/MullerBold.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url('../Fonts/MullerLight.woff') format("woff"),
  url('../Fonts/MullerLight.woff2') format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url('../Fonts/MullerRegular.woff') format("woff"),
  url('../Fonts/MullerRegular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root
{
  --color-href:#A47312;
  --background-of-blocks: #FFFFFF;
  --color-text-href-button: #CC9933;
}
a:focus
{
  outline: 1px solid var(--color-text-href-button);
}
.bodyIndex
{
  width: 1170px;
  padding: 0;
  margin: 0 auto;
  font-family: "Muller";
  font-weight: 400;
  background: #E5E5E5;
}
/* шапка */
.Header-logo-pers-inf
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-bottom: 30px;
}
.header-left {
  display: flex;
  align-items: center;
}
.authorization
{
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-text-href-button);
  background-position: left center;
  padding-left: 27px;
}
.img-now-vec
{
  background-image: url("../img/Vector.svg");
  background-repeat: no-repeat;
}
.telephone
{
  color: #666666;
  font-weight: 500;
  margin-left: 40px;
}
.header-conteiner
{
  margin-top: 30px;
  margin-bottom: 70px;
}
.img-Nav
{
  border-radius: 15px;
}

.navigation
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background-of-blocks);
  padding: 14px 45px 14px 45px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 16px;
}
.links-items:hover
{
  color: var(--color-href);
  transition:color 0.2s linear;
}
.links-items
{
  color: #666666;
}
.navigation-links
{
  display: flex;
  margin: 0;
}
.navigation-links
{
  justify-content: flex-start;
  padding: 0;
}
.navigation-links-items
{
  list-style-type: none;
  margin-right: 45px;
}

/* кнопки */

.bth-help-collection
{
  border-left: 1px solid #E1E1E1;

}
.bth
{
  padding: 0;
  margin: 0;
  margin-left: 57px;
  margin-right: 45px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-text-href-button);
  padding: 13px 20px;
  border: 1px solid var(--color-text-href-button);
  box-sizing: border-box;
  border-radius: 10px;
}
.bth-nav
{
  margin: 0;
}
button:hover
{
  background: var(--color-href);
  color:  var(--background-of-blocks);
  transition: background 0.3s ease, color 0.2s linear;
}
.telephone:hover{
  color: var(--color-href);
  transition:color 0.2s linear;
}
.authorization:hover
{
  color: var(--color-href);
  transition:color 0.2s linear;
}

/*оглавление*/

.main-title-x2
{
  margin: 0;
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  color: #333333;
  font-weight: 400;
}
/*текст special*/
.main-title-x3-OneTable
{
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  color:  var(--background-of-blocks);
  font-size: 40px;
  line-height: 40px;
}
.special-items-text-OneTable-men
{
  margin: 0;
  margin-bottom: 45px;
  color:  var(--background-of-blocks);
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}

.more-detailed
{
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFCC66;
  background-position: right center;
  padding-right: 15px;
}
.main-title-x3-Two
{
  margin: 0;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 60px;
  line-height: 60px;
  color:  var(--background-of-blocks);
}
.special-items-text
{
  margin: 0;
  margin-bottom: 47px;
  font-size: 30px;
  line-height: 30px;
  color:  var(--background-of-blocks);
}
.img-now-vec2
{
  background-image: url("../img/Rectangle2.svg");
  background-repeat: no-repeat;
}
/*текст о нас*/
.main-text-about
{
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
  font-weight: 400;
}
/*текст услуги */
.main-title-x3-services
{
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
  color: var(--color-text-href-button);
  font-size: 20px;
  line-height: 200%;
}
.main-text-services
{
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}
/* текст Размещение*/
.table-items-hostel
{
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
}
.main-title-x3-Placement
{
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
line-height: 16px;
font-weight: 400;
color: #999999;
}
.bth-Placement
{
  margin: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-text-href-button);
  padding: 13px 20px;
  border: 1px solid var(--color-text-href-button);
  box-sizing: border-box;
  border-radius: 10px;
}
/* Спецпредложения*/

.table-special-offers
{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.more-detailed:hover
{
  color: var(--background-of-blocks);
  transition:color 0.2s linear;
}

.special-offres-items
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 573px;
  list-style-type: none;
}
.article-specil-items-OneTable
{
  padding: 40px 234px 40px 40px;
  border-radius: 15px;
}
.article-specil-items-OneTable:last-child
{
  margin-bottom: 0;
}
.inner-container
{
  align-self: flex-end;
}
.special-offers
{
  margin-bottom: 70px;
}

.article-specil-items
{
  border-radius: 15px;
  height: 100%;
  padding:211px 234px 41px 40px;
}
.special-items-text-OneTable
{
  margin-bottom: 23px;
}
.img-now-special1
{
  background-image: url("../img/Rectangle14-Malta.jpg");
  background-repeat: no-repeat;
}
.img-now-special2
{
  background-image: url("../img/Rectangle14-Crit.jpg");
  background-repeat: no-repeat;
}
.img-now-special3
{
  background-image: url("../img/33-Number.jpg");
  background-repeat: no-repeat;
}

/* о нас */
.about-us
{
  margin-bottom: 70px;
}
.main-text-about
{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  max-width: 888px;
}

/* Услуги*/
.table-services
{
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
.table-services-items
{
  border-radius: 15px;
  background-color:  var(--background-of-blocks);
  width: 573px;
}
.main-title-x3
{
  margin: 0;
  font-size: 20px;
  line-height: 200%;
}
.main-title-x3-services:hover
{
  color: var(--color-href);
  transition: color 0.2s linear;
}
.main-text-services
{
  margin: 0;
  max-width: 402px;
}
.table-services-items
{
  background-repeat: no-repeat;
  margin-bottom: 23px;
}
.inner-container
{
  padding: 191px 126px 50px 45px;
}

.img-services-now1
{
  background-image: url("../img/10.jpg");
  background-size: contain;
}
.img-services-now2
{
  background-image: url("../img/15.jpg");
  background-size: contain;
}
.img-services-now3
{
  background-image: url("../img/12.jpg");
  background-size: contain;
}
.img-services-now4
{
  background-image: url("../img/carlo-d-agnolo-aFxSh_l4fbY-unsplash.jpg");
  background-size: contain;
}
/* Преимущества */
.table-advantage
{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.table-advantage-items
{
  border-radius: 15px;
  background-color: var(--background-of-blocks);
  padding: 40px 42px 41px 45px;
  margin-bottom: 23px;
  margin-right: 23px;
}
.table-advantage-items:nth-child(4n){
  margin-right: 0;
}

.advantage
{
  margin-bottom: 70px;
}
.main-text
{
  margin: 0;
  width: 188px;
  padding-top: 66px;
  background-size: 66px 66px;
  background-position:left top;
  font-size: 16px;
  line-height: 200%;
  font-weight: 400;
  color: #000000;
}

.img-advantage1
{
 background-image: url("../img/bathtub.png");
 background-repeat: no-repeat;
}
.img-advantage2
{
 background-image: url("../img/hanger.png");
 background-repeat: no-repeat;
}
.img-advantage3
{
 background-image: url("../img/heating.png");
 background-repeat: no-repeat;
}
.img-advantage4
{
 background-image: url("../img/hotel-key.png");
 background-repeat: no-repeat;
}
.img-advantage5
{
 background-image: url("../img/parking.png");
 background-repeat: no-repeat;
}
.img-advantage6
{
 background-image: url("../img/reception.png");
 background-repeat: no-repeat;
}
.img-advantage7
{
 background-image: url("../img/security-box.png");
 background-repeat: no-repeat;
}
.img-advantage8
{
 background-image: url("../img/swimming-pool.png");
 background-repeat: no-repeat;
}
/* Размещение */
.star
{
  margin-bottom: 16px;
}
.cost-hostel
{
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
line-height: 16px;
font-weight: 400;
}
.img-Radius
{
  border-radius: 15px 15px 0 0;
}
.Placement
{
  margin-bottom: 70px;
}
.table-items-table
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-items-table-links
{
  margin: 0;
  font-size: 20px;
line-height: 200%;
font-weight: 500;
color: var(--background-of-blocks);
}
.table-items-table-links:after{
  content: '';
  opacity: 0.5;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.table-Placement
{
  display: flex;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.table-li-items-link
{
  position: relative;
  padding: 373px 69px 27px 54px;
}
.table-Placement-items
{
  background-color: var(--background-of-blocks);
  margin-right: 23px;
  border-radius: 15px;
  width: 374px;
  margin-bottom: 23px;
}
.table-Placement-items:nth-child(3n)
{
  margin-right: 0;
}
.table-Placement-items-table
{

  padding: 30px 46px 39px 45px;
  list-style-type: none;
}
.img-now-items
{
  background-image: url("../img/41-41.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


















/*ХОЧУ ТУР*/
.h2-want
{
  margin: 0;
  margin-bottom: 20px;
}
.items-text-want
{
  width: 142px;
  border-right: 1px solid #E1E1E1;;
}
.I-want-tour
{
  background:  #E9E9E9;
  border-radius: 15px;
  padding: 38px 45px 70px 40px;
  margin-bottom: 70px;

}
.Table-items-want
{
  margin-right: 20px;

}
.Table-I-want
{
  display: flex;
  justify-content: center;
}
.Table-I-want
{
  padding: 0;
  margin: 0;
}
.div-Table-want
{
  padding: 32px 28px 32px 28px;
  border-radius: 15px;
  background:  var(--background-of-blocks);
}
/*текс */
.text-label
{
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}
.DepartureCity
{
  margin: 0;
  border: 0;

}
.StateName
{
  margin: 0;
  border: 0;
  width: 140px;
}
.DateTime
{
  margin: 0;
  border: 0;
}
.contect-blok
{
  margin-right: 20px;
}
.contect-blok-border
{
  margin-right: 20px;
  padding-left: 20px;
  border-left: 1px solid #E1E1E1;
}
.number-text
{
  width: 121px;
  border: 0;
  border-bottom: 1px solid #E1E1E1;
}
.Tentaclesss-text
{
  width: 121px;
  border: 0;
  border-bottom: 1px solid #E1E1E1;
}
.p-I-Want-Tour
{
  margin: 0;
  margin-top: 15px;
  font-size: 16px;
line-height: 16px;
}
/* конец текста */
.Form-I-Want-tour
{
  display: flex;
  align-items: center;
}
.Inf-contect
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bth-help-I-Want-count
{
  padding-left: 20px;
  border-left: 1px solid #E1E1E1;
}
.bth-want
{
  margin: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-text-href-button);
  padding: 13px 30px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--color-text-href-button);
}
.text-want
{
  margin: 0;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  font-weight: 400;
}
.h3-want
{
  margin: 0;
  font-size: 16px;
line-height: 16px;
font-weight: 400;
color: #000000;
}
/*Контакты*/
.img-Contact
{
  background-image: url("../img/Layer21.jpg");
  height: 528px;
  width: 653px;
}
.phone-contacts:hover
{
  color: var(--color-href);
  transition:color 0.2s linear;
}
.mail-contacts:hover
{
  color: var(--color-href);
  transition:color 0.2s linear;
}
.Contacts
{
  margin-bottom: 19px;
}
.Contacts-Tabl-bacround {
  background:  var(--background-of-blocks);
  border-radius: 15px;
  padding: 44px 44px 46px 46px;
}
.Table-Contacts
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img-Contacts
{
  background-image: url('../img/Layer21.jpg');
  background-repeat: no-repeat;
}
.Table-main-Want
{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.h3-Contacts
{

  margin: 0;
  margin-top: 25px;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  font-weight: 700;
}

.first-h3
{
  margin: 0;
}
.li-items-Contacts
{
  display: flex;

  justify-content: space-between;
  border-bottom: 1px solid  #C4C4C4;;
}
.phone-contacts
{
  font-size: 16px;
line-height: 150%;
color: var(--color-text-href-button);
}
.text-Contacts-gr
{
  margin-top: 25px;
  margin-bottom: 23px;

}
.text-contacts
{
  font-size: 16px;
line-height: 150%;
color: #999999;
}
.mail-contacts
{
  font-size: 16px;
line-height: 150%;
color: var(--color-text-href-button);
}
.text-Contacts-footer
{
  margin-top: 25px;
  margin-right: 70px;
  margin-bottom: 23px;
}
.text-login-contact
{
  margin-bottom: 23px;
  margin-top: 25px;
}
.text-Contacts-gr{
  margin-top: 23px;
  margin-bottom: 23px;
  margin-left: 47px;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  font-weight: 400;
  max-width: 229px;
}
.text-Contacts
{
  margin-bottom: 23px;
  margin-left: 47px;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  font-weight: 400;
  max-width: 229px;
}
.table-want-full
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bth-Con
{
  margin: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-text-href-button);
  padding: 27px 29px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--color-text-href-button);
}
/*низ*/
.Footer
{
  display: flex;
  justify-content: space-between;
  padding-top: 41px;
  padding-right: 52px;
  padding-left: 52px;
  padding-bottom: 46px;

  background: #333333;
  border-radius: 15px;
}

.items-Footer
{
  display: flex;
  flex-direction: column;
}
.text-Footer-One
{
  font-size: 16px;
line-height: 190%;
font-weight: 400;
color:  var(--background-of-blocks);
width: 320px;
margin-bottom: 49px;
}
.text-links
{
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: var(--color-text-href-button);
}

.text-Footer-Two
{
  font-size: 16px;
  line-height: 16px;
  color:  var(--background-of-blocks);
  font-weight: 400;
  margin-bottom: 14px;
}
.links-phone
{
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
.phone-Footer:hover
{
  color: var(--color-href);
  transition:color 0.2s linear;
}
.text-links:hover
{
  color: var(--color-href);
  transition:color 0.2s linear;
}
.links-mail
{
  display: flex;
  flex-direction: column;

}
.phone-Footer
{
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text-href-button);
  font-weight: 400;
}

.Table-Links-twit
{
  list-style-type: none;
  margin: 0;
}
.locail-link
{
  display: flex;
  flex-direction: column;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 20px;
}
.img_Footer
{
  background-image: url("../img/theSun.png");
  background-repeat: no-repeat;
  background-position: right 20% bottom;
}
.locail-link:hover path{
  fill: var(--color-text-href-button);
}


